
body {
    font-family: "Noto Sans JP";
    color:#333;
    line-height: 2;
    margin: 0 auto;
    background-color: #F9FEFD;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  /* img {
    vertical-align: bottom;
    object-fit: cover;
  } */
  
  li {
    list-style: none;
  }


/* ---------------------------
header
---------------------------- */
  header {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
 
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: relative;
    z-index: 100;
  }
  
  .header-container img {
    width: 200px;
  }
  
  .header-nav ul {
    display: flex;
    justify-content: space-between;
    width: 360px;
    line-height: 3;
    margin-left: 100px; 
  }

  .header-nav a {
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
  }

  .header-nav a:hover {
    border-bottom: 1px solid #333;
  }

  .radial ,
  .center-circle,
  .main_message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
  }
  
  .radial {
    height: 100vh;
    width: auto;
    display: block;
    z-index: -2;
  }

  .center-circle {
    z-index: -1;
  }

  .spin-ring {
    width: 60vh;
    animation: spin 40s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%,-50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
  
  .main_message {
    width: 500px;
    height: 400px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }
  
  .main_message img {
    width: 150px;
  }
  
  .main_message p {
    font-family: "DotGothic16";
    margin: 0 auto;
    font-size: 24px;
    padding: 10px; 
    letter-spacing: 0.1em;
  }

  .main_message a {
    color: #54A296;
    font-family: "DotGothic16";
    display: block;
    font-size: 24px;
    letter-spacing: 0.2em; 
    position: relative;
    box-sizing: border-box;
    max-width: 130px;
    padding: 4px 16px 4px 0;
    transition: all 0.3s;
  }

  .main_message a::before {
    content: "";
    display: block;
    position: absolute;
    width: 130px;
    height: 3px;
    background-color: #54A296;
    bottom: 0;
    left: -20px;
    transition: all 0.3s;
  }

  .main_message a::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #54A296;
    rotate: 45deg;
    right: -15px;
    bottom: 10px;
    transition: all 0.3s;
  }

  .main_message a:hover {
    color: #F6C361;
  }
  .main_message a:hover::before,
  .main_message a:hover::after {
    background-color: #F6C361;
  }




  /* ---------------------------
  main共通
  ---------------------------*/
  main {
    padding: 0 80px;
    position: relative;
  }

  section {
    padding-block: 80px 20px;
  }

  .wrapper {
    max-width: 900px;
    margin: 0 auto;
  }

  .backwave {
    height: 3000px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
  }

  /* ---------------------------
  about
  ---------------------------*/
  .about-text{
    text-align: center;
    margin-bottom: 20px;
  }
  .about-inr{
    margin: 0 auto;
    max-width: 1000px;
  }
  .about-point{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .about-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
     gap: 40px;
    max-width: 900px;
    margin: 0 auto;
  }

  .point-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  }
  .point-block .point {
  width: 50%;
  margin-bottom: 20px;
  height: auto;
}
.point-block .point-img {
  width: 70%;
  max-width: 250px;
  vertical-align: bottom;
}
.point-content {
  width: 60%;
}
.point-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
}
.point-content h3 .line {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 2px;
  background-color: #333; 
  transform: translateY(-50%);
}

  /* ---------------------------
  guide
  ---------------------------*/
.guide {
  width: 100;
}

/* --- 横スクロール部分のコンテナ設定 --- */
.card-list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  perspective: 1000px; /* カードの3D効果 */
  padding-left: 120px;
  margin-block: 40px 120px;
  align-items: center;
  /* max-width: 1600px; カードグリッドの最大幅 */
  box-sizing: border-box;
  }

/* 各パネル (カードのグループ) */
.card-item {
    flex-shrink: 0; /* パネルが縮まないようにする */
    width: 30%;
    aspect-ratio: 3 / 4;
    position: relative;
    margin-right: 40px;
    min-width: 280px;
    max-width: 350px;
}

/* --- ホバーで裏返るカードのスタイリング--- */
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d; /* 子要素の3D変換を保持 */
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.card-item:hover .card {
    transform: rotateY(180deg); /* ホバー時にY軸で180度回転 */
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* 裏面になったときに非表示にする */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-front {
    background-color: #fff;
    z-index: 2;
}

.card-front img {
    max-width: 100px;
    margin-top: 40px;
    display: block;
}

.card-front-blue {
    border:solid 4px #5FA4FF;
}

.card-front-orange {
    border:solid 4px #FFA787;
}

.card-front-green {
    border:solid 4px #5FCE8F;
}

.card-front-yellow {
    border:solid 4px #EFC244;
}

.card-front-pink {
    border:solid 4px #EA3676;
}

.card-front-purple {
    border:solid 4px #9957B8;
}

.card-back {
    color: #fff;
    transform: rotateY(180deg); /* 最初は裏返しておく */
    justify-content: flex-start;
    padding: 10%;
}
.card-back-title {
    font-weight: bold;
}

.card-back img {
    width: 100%;
    margin-block: 16px;
}

.card-back-text {
  text-align: left; /* テキストは左揃え */
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 5px;
  color: #333;
}

.card-back-text span {
  color: #5FA4FF;
}

.card-back-orange .card-back-text-title {
  color: #FFA787;
}

.card-back-green .card-back-text-title {
  color: #5FCE8F;
}

.card-back-yellow .card-back-text-title{
  color:#EFC244;
}

.card-back-pink .card-back-text-title {
  color: #EA3676;
}

.card-back-purple .card-back-text-title {
  color: #9957B8;
}

.card-back-blue {
    background-color: #5FA4FF;
}

.card-back-orange {
    background-color: #FFA787;
}

.card-back-green {
    background-color: #5FCE8F;
}

.card-back-yellow {
    background-color: #EFC244;
}

.card-back-pink {
    background-color: #EA3676;
}

.card-back-purple {
    background-color: #9957B8;
}


  /* event */
  .event {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
  }

  .event_texts {
    width: 45%;
    margin-bottom: 16px;
  }

  .event_card {
    width: 45%;
  }

  .event-card li {
    width: 100%;
    border-radius: 20px;
    margin: 0 0 32px 32px;
  }

  .blue-card {
    border: 14px solid #5FA4FF;
    background-color: #5FA4FF;
  }

  .orange-card {
    border: 14px solid #FFA787;
    background-color: #FFA787;
  }

  .green-card {
    border: 14px solid #84D8A9;
    background-color: #84D8A9;
  }

  .event_card-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .event_card-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 24px;
  }

  .card-number {
    font-size: 80px;
    color: rgba(255,255,255,0.4);
  }

  .card-left-title {
    color: #fff;
    font-weight: bold;
  }

  .event_card-image {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .event_card-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .event_card-lower {
    height: auto;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 10px;
  }

  .blue-card .lower-topic {
    color: #5FA4FF;
  }

  .orange-card .lower-topic {
    color: #FFA787;
  }

  .green-card .lower-topic {
    color: #84D8A9;
  }




  /* ---------------------------
  voice
  --------------------------- */


  /*---------------------------
   q&a
   ---------------------------*/
/* アコーディオン */
.accordion{
  max-width: 900px;
  margin: 0 auto;
}
.accordion-item {
    border-bottom: 1px solid #ddd;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.accordion-header {
    background-color: #2C8C7E;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.accordion-header img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.accordion-header::before,
.accordion-header::after{
  position:absolute;
  content:'';
  top:1px;
  right:20px;
  bottom:0;
  width:12px;
  height:2px;
  margin:auto;
  background:#fff;
}
.accordion-header::after{
  transform:rotate(-90deg);
  transition:transform 0.3s;
}
.accordion-header.active::after{
  transform:rotate(0deg);
}

.accordion-content {
    display: none;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    background-color: #E1F4F2;
}
.accordion-header span,
.accordion-content span{
  padding-left: 25px;
  position: relative;
}

.accordion-header span::before{
  position: absolute;
  content:"Q";
  top: 0;
  left: 0;
  color: #fff;
  font-size: 17px;
}
.accordion-content span::before{
  position: absolute;
  content:"A";
  top: -3px;
  left: 0;
  color: #151E2F;
  font-size: 17px;
}

.accordion-content p {
    margin: 0;
}






  /* ---------------------------
  cta
  ---------------------------*/


  /* ---------------------------
  footer
  ---------------------------*/


 /* ---------------------------
  レスポンシブ対応
  ---------------------------*/

  @media screen and (max-width: 400px) {


 /* ---------------------------
  header
 ---------------------------- */

 .main_message img {
  width: 60px;}

 .main_message a ,
 .main_message p {
  font-size: 16px;
 }


  /* ---------------------------
  main共通
  ---------------------------*/
  main {
    padding: 0 40px;
  }


  /* ---------------------------
  about
  ---------------------------*/

/* ---------------------------
  guide
  ---------------------------*/
.guide {
  width: 100vw;
  height: 100vh;
}
/* --- 横スクロール部分のコンテナ設定 --- */
.card-list {
    display: flex;
    flex-wrap: nowrap;
    perspective: 1000px; /* カードの3D効果 */
    padding-left: 120px;
    align-items: center;
    /* max-width: 1600px; カードグリッドの最大幅 */
    width: 100%;
    box-sizing: border-box;
  }

/* 各パネル (カードのグループ) */
.card-item {
    flex-shrink: 0; /* パネルが縮まないようにする */
    width: 30%;
    aspect-ratio: 3 / 4; /* アスペクト比を3:4に設定 */
    position: relative;
    margin-right: 40px;
}

/* --- ホバーで裏返るカードのスタイリング--- */
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d; /* 子要素の3D変換を保持 */
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.card-wrapper:hover .card {
    transform: rotateY(180deg); /* ホバー時にY軸で180度回転 */
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* 裏面になったときに非表示にする */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-front {
    background-color: #fff;
    z-index: 2;
}

.card-front img {
    max-width: 100px;
    margin-top: 40px;
}

.card-front-blue {
    border:solid 4px #5FA4FF;
}

.card-front-orange {
    border:solid 4px #FFA787;
}

.card-front-green {
    border:solid 4px #5FCE8F;
}

.card-front-yellow {
    border:solid 4px #EFC244;
}

.card-front-pink {
    border:solid 4px #EA3676;
}

.card-front-purple {
    border:solid 4px #9957B8;
}

.card-back {
    color: #fff;
    transform: rotateY(180deg); /* 最初は裏返しておく */
}

.card-back p {
    font-weight: bold;
}

.card-back img {
    width: 272px;
    margin-block: 16px;
}

.card-back-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: left;
}

.card-back-blue {
    background-color: #5FA4FF;
}

.card-back-orange {
    background-color: #FFA787;
}

.card-back-green {
    background-color: #5FCE8F;
}

.card-back-yellow {
    background-color: #EFC244;
}

.card-back-pink {
    background-color: #EA3676;
}

.card-back-purple {
    background-color: #9957B8;
}


  /* event */
  .event ,
  .event_card-upper {
    flex-direction: column;
  }

  .event_texts,
  .event_card,
  .event_card-left,
  .event_card-image
   {
    width: 100%;
  }

  .event_card-left {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .card-number {
    font-size: 48px;
  }

  /* ---------------------------
  voice
  --------------------------- */


  /*---------------------------
   q&a
   ---------------------------*/


  /* ---------------------------
  cta
  ---------------------------*/


  /* ---------------------------
  footer
  ---------------------------*/


  }